<html>

    <header>
    
        <title>Some Webpage</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    </header>


    <body style="background-color:lightgray">

				<div class="jumbotron">
					<div class="row">
				  <!-- <h1></h1> -->
				  <!-- <p></p> -->
				  		<div class="pull-left">
						  <p><a class="btn btn-primary btn-lg" href="#" role="button"><font size="100">Create Event</font></a></p>
						</div>
						<div class="pull-right">
						  <p><a class="btn btn-primary btn-lg" href="#" role="button"><font size="100">Join Event</font></a></p>
						</div>
					 </div>
				</div>
    </body>

</html>