<html>
<head>
<title> List of Matches</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
.left-div {
    float: left;
    width: 250px;
    /*height: 20px;*/
    margin-right: 8px;
    background-color: lightgray;
    border-radius: 25px;
    padding: 20px;
}
.right-div {

    margin-left:350px;
    background-color: lightgray;
    border-radius: 25px;
    padding: 20px;
}
</style>

</head>

<body style="background-color:gray">
  <br>
  	<div class="left-div">
<form method="POST">
	{% csrf_token %}

	{{ inter_f }}
	{{ lang_f }}
	{{ p_form }}
  <input type="submit" class="btn btn-primary" value="Submit Button">
  </form>
  <!---
  	  <strong><h3><font color="black">&nbsp;&nbsp;&nbsp;&nbsp;<u><em>Filter List</em></u></font></h3></strong>
	  <form method="post">
	      <div class="checkbox" >
	      	  &nbsp;<font color="white"><u><em>Languages:</em></u></font>
	      	  <br>
	          &nbsp;&nbsp;<label><input type="checkbox" value=""><font color="white">Python</font></label>
	      </div>

	      <div class="checkbox" >
	      	  &nbsp;<font color="white"><u><em>Interests:</em></u></font>
	      	  <br>
	          &nbsp;&nbsp;<label><input type="checkbox" value=""><font color="white">Web Development</font></label>
	      </div>

	      <div class="checkbox" >
	      	  &nbsp;<font color="white"><u><em>Project Level:</em></u></font>
	      	  <br>
	          &nbsp;&nbsp;<label><input type="checkbox" value=""><font color="white">Introductory</font></label>
	      </div>

	      &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-info" value="Submit Button">
	  </form>
	-->
	</div>

	<div class="right-div">
		<strong><h1><font color="black">&nbsp;&nbsp;&nbsp;&nbsp;<u><em>List of Matches:</em></u></font></h1></strong>
		<form method="post">
			{% for c in users %}
		          &nbsp;&nbsp;<label><input type="checkbox" value=""><font color="white"><em>{{ c.name }}</em></font></label>
		          	<ul>
			    		<li>{{ c.email }}</li>
						{% for interest in c.interests.all %}
						<li>{{ interest }}</li>
						{% endfor %}
						{% for language in i.languages.all %}
						<li>{{ language }}<li>
						{% endfor %}
			    		<li>{{ c.project_level }}</li>
			    	</ul>
					{% endfor %}
			</div>
		</form>
	</div>
</body>


</html>

