<html>

    <head>
    
        <title>List of matched people</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style>
		.left-div {
		    float: left;
		    width: 250px;
		    /*height: 20px;*/
		    margin-right: 8px;
		    background-color: lightgray;
		    border-radius: 25px;
		    padding: 20px;
		}
		.right-div {

		    margin-left:350px;
		    background-color: lightgray;
		    border-radius: 25px;
		    padding: 20px;
		}
		.div-custom{ 
			border-radius: :10px;
		}
		.flex-container {
		    flex-direction: column;

		    background: #cbd1db;

		}

		.flex-item {
		    background-color:;
		    border-radius: 10px;
		    border: 1px solid #8a8c8e;
		    padding: 1px; 
		    order:<integer>;
		    flex-grow: <number>;
		    flex-shrink: <number>;
		    width: ;
		    height: ;
		    margin: 1px;
		}
	</style>

    </head>

    <body style="background-color:gray">


		<div class="left-div">
		    &nbsp; 
		    <h1>&nbsp;&nbsp; Filter List </h1>
		    <div class="flex-container" >
		    	&nbsp;&nbsp; <em><strong>Languages:</strong></em>
		    	<div class="flex-item">
		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Python
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->

					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Javascript
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!--row -->
				    <br>

		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;C/C++
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->

					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Java
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!--row -->
					<br>


		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Swift
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->

					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Haskell
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!--row -->
					<br>


		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Go
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->

					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Scala
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!--row -->
					<br>


		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Ruby
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->

					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Php
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!--row -->
					<br>

		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Html/Css
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div>
					<br>
					<br>
					&nbsp;<em><strong>Interests:</strong></em>


		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Machine Learning
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->

					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Web Development
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!--row -->
				    <br>

		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;iOS app
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->

					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Android app
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!--row -->
					<br>


		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Game Development
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->

					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Virtual Reality
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!--row -->
					<br>


		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Raspberry Pi
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->

					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Front-End
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!--row -->
					<br>


		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Back-End
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->

					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Arduino
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!--row -->
					<br>

		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Drone
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div>
					<br>
					<br>

					&nbsp;<em><strong>Project Level:</strong></em>
		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Introductory
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->

					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Intermediate
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!--row -->
					<br>

		    		<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					        <input type="checkbox" aria-label="...">&nbsp;&nbsp;Advanced
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div>

		    	</div><!--flex item-->
		    </div> <!--flex container-->
		</div> <!--left div-->


		<div class="right-div">
		<br><h1><em>&nbsp;&nbsp; List of Matches:</em></h1>
			<hr>
			<ul id="buttons">
			    <li><a href="#">Candidate (N)</a></li>
			    	<ul>
			    		<li>Email:</li>
			    		<li>Interestes:</li>
			    		<li>Preferred Languages:</li>
			    		<li>Preferred Project Level:</li>
			    	</ul>
			</ul>

		</div>

		<div style='clear:both;'>&nbsp;</div>


    </body>
</html>