<html>

    <head>
    
        <title>Choose A Programming Language</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style>

	</style>

    </head>

	<body style="background-color:gray">
	  <center><h1><font color="white">I feel comfortable in ...</font></h1></center>
	  <br><br><hr><br>
	  <form method="post">
	      <div class="checkbox">
	          <center><label><input type="checkbox" value=""><font color="white">Python</font></label></center>
	      </div>
	      <center><input type="submit" class="btn btn-info" value="Submit Button"></center>
	  </form>
	</body>

</html>