<html>

    <head>
    
        <title>Profile Webpage</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style>
	.flex-container {
	    display: -webkit-flex;
	    display: flex;
	    -webkit-justify-content: space-between;
	    justify-content: space-between;
	    width: 48px;
	    height: 48px;
	    background-color: lightgrey;
	}

	.flex-item {
	    background-color:;
	    width: 100px;
	    height: 100px;
	    margin: 10px;
	}
	</style>

    </head>


    <body style="background-color:lightgray">
		<div class="jumbotron">
			<div class="center">
				<pre class="tab"><p><h1>     I feel comfortable ... </h1></p></pre>
			</div>
			Programming in
		</div>

		<div class="flex-container">
			<div class="flex-item">
				<div class="row">
				  <div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="checkbox">
				      </span>
				      <input type="image"  src="python.png" width="48" height="48">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div> <!-- row -->
			</div>

			<div class="flex-item">
				<div class="row">
				  <div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="checkbox">
				      </span>
				      <input type="image"  src="swift.png" width="48" height="48">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div> <!-- row -->
			</div>

			<div class="flex-item">
				<div class="row">
				  <div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="checkbox">
				      </span>
				      <input type="image"  src="ruby.png" width="48" height="48">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div> <!-- row -->
			</div>

		</div>
		 <br><br><br>

		 <div class="flex-container">
		 	<div class="flex-item">
				 <div class="row">
				  <div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="checkbox">
				      </span>
				      <input type="image" src="javascript.jpeg" width="48" height="48">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				 </div><!-- /.row -->
			</div>

		 	<div class="flex-item">
				 <div class="row">
				  <div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="checkbox">
				      </span>
				      <input type="image" src="haskell.png" width="48" height="48">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				 </div><!-- /.row -->
			</div>

		 	<div class="flex-item">
				 <div class="row">
				  <div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="checkbox">
				      </span>
				      <input type="image" src="php.png" width="48" height="48">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				 </div><!-- /.row -->
			</div>

		</div>
		<br><br><br>

		<div class="flex-container">
			<div class="flex-item">
				<div class="row">
			  	  <div class="col-lg-6">
				    <div class="input-group" align="left">
				      <span class="input-group-addon">
				        <input type="checkbox">
				      </span>
				      <input type="image" src="cpp.png" width="48" height="48">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div>
			</div>
			<div class="flex-item">
				<div class="row">
			  	  <div class="col-lg-6">
				    <div class="input-group" align="left">
				      <span class="input-group-addon">
				        <input type="checkbox">
				      </span>
				      <input type="image" src="go.png" width="48" height="48">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div>
			</div>
			<div class="flex-item">
				<div class="row">
			  	  <div class="col-lg-6">
				    <div class="input-group" align="left">
				      <span class="input-group-addon">
				        <input type="checkbox">
				      </span>
				      <input type="image" src="html.png" width="48" height="48">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div>
			</div>
		</div>
		<br><br><br>

		<div class="flex-container">
			<div class="flex-item">
				<div class="row">
			  	  <div class="col-lg-6">
				    <div class="input-group" align="left">
				      <span class="input-group-addon">
				        <input type="checkbox">
				      </span>
				      <input type="image" src="java.png" width="48" height="48">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				 </div>
			</div>
			<div class="flex-item">
				<div class="row">
			  	  <div class="col-lg-6">
				    <div class="input-group" align="left">
				      <span class="input-group-addon">
				        <input type="checkbox">
				      </span>
				      <input type="image" src="scala.png" width="48" height="48">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				 </div>
			</div>
		</div>
    </body>

</html>